
body {

    margin: 0px;
    padding: 0px;
    background: url("gymm.jpg");
    color: white;

}

.left {
    border: px solid red;
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;



}

.iii {
    color: aqua;
}

.left img {
    width: 110px;
    color: red;
}

.bottom {
    border: px solid white;
    display: block;
    margin: 5px auto;
    width: 40%;
    padding: 12px;
}

.search {
    border: px solid white;
    position: absolute;
    right: 79px;
    top: 29px;
    display: inline-block;





}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 20px;

}

.navbar li a:hover {
    text-decoration: underline red;
    color: aqua;
}

.form {
    border: 1px dotted lightgreen;
    margin: 80px 907px;
    padding: 20px;
    color: yellow;
    font-size: 20px;
    width: 25%;
    border-radius: 8px;

}

.btm {
    border: 1px solid white;
    position: absolute;
    right: 15px;
    top: 28px;
    display: inline-block;

}

.btm:hover {
    color: red;
    background-color: azure;
}

#ab {
    color: red;
    border-radius: 20px;
    text-decoration: underline;
}
